* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container { 
 	width: 73.125%;
	/*display: flex;*/
	/*justify-content: space-between;*/
	align-items: center;
	margin: 0 auto;
 }

/*13.4375% (margin) */

.header {
	/*width: 1920px;*/
	/*height: 900px;*/

	background-image: url(../img/header_background.png);
	background-repeat: no-repeat;
	/*background-size: 100% 100%;*/
	background-size: cover;
	/*border-spacing: 0;*/

	margin: 0 auto;
}

.navigation-bar_items {
	display: flex;
}

.navigation-bar {
	width: 100%;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation_item {
	margin-right: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 14px;
	/*line-height: 38px;*/
}

.navigation_item:last-child {
	margin-right: 70px;
	
}

.navigation_item:first-child {
	margin-left: 50px;
	
}

.header-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 240px;
	/*margin-right: 50px;*/

}

.header-content_tittle {
	/*width: 100%;*/
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #fffefe;
	text-transform: uppercase;

	/*margin-top: 250px;*/
	margin-bottom: 53px;
}

.shape { 
	width: 86px;
	height: 2px;
	background-color: #fffefe;
	/*border-bottom: 2px solid white;*/

}

.header-content_text {
	margin-top: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
	color: #fffefe;
}

.header_slide_button {
	/*margin-top: 12vw;*/
	margin-top: 250px;
	margin-bottom: 50px
}

.section-tittle {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 35px;
	color: #222222;
	text-transform: uppercase;

	/*margin-top: 250px;*/
	margin-bottom: 40px;
}

.shape_black { 
	background-color: #222222;
	margin-bottom: 80px;
	/*border-bottom: 2px solid white;*/

}

.service-tittle {
	margin-top: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

.service-item {
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100%;
}

.service-item-column {
/*	widows: 230px;
	height: 150px;*/
	min-width: 290px;
	width: 28%;	
	margin-right: 70px;
}

.service-item-column:last-child {
/*	widows: 230px;
	height: 150px;*/
	/*width: 33%;	*/
	margin-right: 0px;
}

.service-item-column_text-tittle {
	margin-top: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #222222;
}

.service-item-column_text {
	margin-top: 35px;
	margin-bottom: 120px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #222222;
}

.service-item-column_image {
	height: 150px;
	display: flex;
	justify-content: center;
	/*align-content: center;*/
	align-items: center;
}

/*second css*/

.second {
	/*width: 1920px;*/
	height: 100%;

	background-image: url(../img/about-us_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	/*border-spacing: 0;*/

	margin: 0 auto;
}

.second-text {
	width: 50%
}

.second-text_tittle {
	padding-top: 170px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 45px;
	color: #fffefe;

	text-transform: uppercase;
}

.second-text_content {
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 22px;
	color: #fffefe;
}

.second-text_more {
	margin-top: 70px;
	padding-bottom: 115px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #fffefe;
	text-decoration: underline;
}

.second_wrap {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.second-image {
	margin-bottom: -4px;
	margin-right: 6vw;
}

/*work section*/

.work-item {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/*min-width: 290px;*/
	width: 100%;	
	/*margin-right: 30px;*/
}

.work-item_image {
	overflow: hidden;

	display: flex;

	margin: 0 30px 79px 0 ;
	justify-content: center;
	background-color: #3a3a3a;
	width: 370px;
	min-width: 370px;
	height: 420px

}
.work-item_image:last-child {
	margin-right: 0px;
}

.work-item_image_link:hover {
	-webkit-filter: opacity(25%); 
  	transition: ease-out 0.5s;
}

.work-button {
	width: 370px;
	height: 60px;
	border: 3px solid #222222;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 24px;
	text-transform: uppercase;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 80px;
}

.work-button:hover {
	background-color: #222222;
	color: #fff;
	transition: ease-out 0.5s;
}

.wrapper {
	display: flex;
	justify-content: center;
}

.container-footer { 
 	width: 48.875%;
	/*display: flex;*/
	/*justify-content: space-between;*/
	align-items: center;
	margin: 0 auto;
 }

.section-tittle_white {
	margin-top: 130px;
	margin-bottom: 0;
	color: #fff;
}

.footer {
	background-image: url(../img/footer_background.png);
	background-repeat: no-repeat;
	/*background-size: 100% 100%;*/
	background-size: cover;
	/*border-spacing: 0;*/

	margin: 0 auto;
	/*padding-top: 84px;*/
}

.footer .container-footer .service-tittle {
	margin: 0;
}

.footer .container-footer .shape {
	margin: 70px 0;
}

.social-item {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: flex-end;
	margin-bottom: 70px;
}

.social-item-icon {
	margin-right: 25px;
}

.footer-social {

}

.form-item_link {
	width: 40%;
	border: none;
	border-bottom: 2px solid #afafaf;
	background: none;
	color: #676767;
	margin-bottom: 100px;
}

/*.form-item_link:last-child {
	margin-bottom: 0;
}*/

.form-item {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;

}

.form-item-message {
	display: flex;
	justify-content: center;
	/*flex-direction: column;*/
/*	align-content: space-between;
	align-items: space-between;*/

}

.form-item_link_message {
	width: 100%;

}

nav ul li a {
	color: #fffefe;
}
a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}